@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply bg-gray-200;
    }

    .connected-container{
        @apply lg:ml-64;
    }

    .login-container{
        @apply flex;
        @apply justify-center;
        @apply h-screen;
        @apply items-center;
    }
    .separation{
        position: absolute;
        justify-content: space-between;
        margin-left: 160px;
        clear: both;
        height: 100px;
        width : 1px;
        background: lightgray;
    }
}

